<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feliz aniversário 🥳
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feliz aniversário 🥳</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-firework class="firework"></app-firework>
  <div class="container">
    <strong class="message--title">Sogrinha, querida!</strong>
    <p class="message--1">Fiz essa pequena mensagem,</p>
    <p class="message--2">para te desejar um ótimo aniversário!</p>
    <p class="message--3">E agradecer por todo o carinho que voce tem por mim!</p>
    <p class="message--4">Espero que tenha gostado!😁</p>
    <p class="message--5">Aproveite seu dia!</p>
    <p class="message--6">😘</p>

  <a target="_blank" rel="noopener noreferrer" href="https://api.whatsapp.com/send?phone=5511981287629&text=Obrigado%2C%20otavio!%20Gostei%20muito%20do%20seu%20aplicativo!">Responder no whats</a>

  </div>
</ion-content>
